/* posible paleta: 545f66, 829399, d0f4ea, 0d0221, b8b42d*/

:root{
    --colorprimario: #302a44;
    --colorsecundario: #070f16;
    --colorterceario: #A4C639;
    --colorcuaternario: #E0E0E0;
}

*{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family:Montserrat !important;
}
*::-webkit-scrollbar {
    width: 16px;
  }

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #5aa054;
    border-radius: 5px;
    border: 3px solid #000000;
}


/*Login*/

#login{
    color: white;
}

/*Carrito de Compras*/

#carritoCompras{
    background-color: #070f16;
    color: white;
}

.elementosCarro{
    text-decoration:solid !important;
    list-style-type: disc;
}

#carrito{
    background-color: var(--colorsecundario);
    color: #000000;
    grid-row: span 2 ;
    display: grid;
    height: 705px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
#carrito div{
    background-color: var(--colorterceario);
}
#carrito div ul{
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
    height: 550.3px;
}
#carrito div li{
    font-size: larger;
    text-align: center;
}
#carrito div h2{
    margin: 0%;
}
#carrito h2{
    width: 100%;
    background-color: var(--colorsecundario);
    color: white;
    width: 100%;
}
#bloqueCarro{
    margin-left: 3%;
    grid-row: span 8;
    grid-column: span 2;
}
#totalCarro{
    margin: 0%;
    padding: 0%;
    background-color: #000000;
    color: var(--colorterceario);
    font-size: 25px;
    text-align: center;
}

#botonesCarro{
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--colorsecundario);
    grid-column: span 2;
    justify-content: space-around;
    padding-bottom: 5px;
    padding-top: 5px;
}
#botonBorrar{
    background-color: var(--colorterceario);
    color: var(--colorsecundario);
    width: 45%;
    border-radius: 8px;
}
#botonBorrar p{
    margin: 0%;
}
#botonPagar{
    background-color: var(--colorterceario);
    color: var(--colorsecundario);
    width: 45%;
    border-radius: 8px;
}
#botonPagar p{
    margin: 0%;
}
.textoElementoCarro{
    margin: 0%;
    height: auto !important;
    display: flex;
    flex-direction:row;
    border-color: var(--colorsecundario);
    border: 2px solid;
    text-align: center;
}
.textoElementoCarro p{
    font-size: 122%;
}
.botonEditarCantidadCarro{
    width: 40px;
    background-color: var(--colorsecundario);
    color: var(--colorterceario);
}
#botonMenosCarro{
    margin-left: auto;
}
.elementosCarro li{
    display: flex;
}


/*Estilos inicio*/

#introTiendabackground{
    height: 600px;
    background-image: url("../img/rtx4090Inicio.png");
    background-size: cover;
}
.panelintroTienda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

.introtienda{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #000000b9;
    height: 300px;
    width: 40%;
    border-radius: 10px;
    color: white;
    text-align: center;
}
#descripcionIntroSponsors{
    overflow-Y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorterceario);
    height: 100px;
}
#descripcionIntroSponsors img{
    width: 20%;
}
#introproductosbackground{
    background-image: url("../img/ryzenInicio.jpg");
    background-size: cover;
}

/**/

#mainTienda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body{
    background-color: var(--colorprimario);
}
#banner{
    background-color: var(--colorterceario);
    height: 50px;
    color: black;
    text-align: center;
    overflow: hidden;
}
#formularioContacto{
    margin-left: 30%;
    display: block;
    background-color: #D0F4EA;
    border-radius: 1%;
    border: #1C3D5A;
    width: 40%;
}
#menu {
    background-color:var(--colorsecundario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

#menu div{
    justify-content: center;
    width: 20%;
}
#menu div h3 a {
    margin-left: 25%;
    width: auto;
    height: auto;
    text-decoration: none;
    color:#D0F4EA ;
}
#menu div h3 a:hover{
    transition-duration: 400ms;
    color: #B8B42D;
}
#contenedorTienda{
    grid-column: span 3;
    grid-row: span 3;
}

#tienda {
    background-color: var(--colorprimario);
    height: 1000px;
    display: grid;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5%;
    justify-content: space-around;
    overflow-y: hidden;
}
#divicionBotonPagina{
    margin-top: 10PX;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#botonPaginaAnterior{
    background-color: var(--colorsecundario);
    color: var(--colorterceario);
    border: 0px;
    width: 40px;
    height: 40px;
}
#botonPaginaSiguiente{
    background-color: var(--colorsecundario);
    color: var(--colorterceario);
    border: 0px;
    width: 40px;
    height: 40px;
}

#categoriasPC{
    grid-row: span 3;
    display: block;
    width: auto;
    height: auto;
    background-color: var(--colorterceario);
}

#categoriasPC ul{
    padding-left: 5%;
    padding-right: 5%;
}

#categoriasPC ul li h3 a{
    text-decoration: none;
}

.tarjetaProducto{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color:var(--colorsecundario);
    border-radius: 5%;
    border-color: var(--colorsecundario);
    position: relative;
    overflow-y: hidden;
    transform-origin: center center;
    transition: 0.3s;
}
.tarjetaProducto div{
    overflow-y: hidden;
    margin-top: auto;
}

.tarjetaProducto .imagen p img{
    max-height: 180px;
    width: 90%;
    margin: 5%;
    margin-bottom: 0px;
}

.tarjetaProducto .descripcion{
    height: fit-content;
}
.tarjetaProducto .descripcion p{
    margin: 0;
    text-align: center;
    color:#D0F4EA;
    
}

.tarjetaProductoCompleta{
    transform: scale(2);
    width: 20%;
    height: fit-content;
    position:fixed;
    margin-left: 15%;
    margin-top: 8.5%;
    transition: 0.3s;
    z-index: 10;
    
}
.botonesTarjetaProducto{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 2%;
}
.cartaAmpliada {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1;
}

.descripcionProducto{
    display: none;
}

.cartaAmpliada .descripcionProducto{
    display: block;
  }
.botonAmpliarCarta{
    margin-top: 10px;
    color: #000000;
    background-color: var(--colorterceario);
    border: 0px;
    font-size: 12px;
    border-radius: 5%;
    width: 50%;
    height: 50px;
}
.botonAgregarCarro:hover{
    background-color:#B8B42D;
    transition: all 1.5 ease;
}
.botonAmpliarCarta:hover{
    background-color:#B8B42D;
    transition: all 1.5 ease;
}
.botonAgregarCarro{
    margin-top: 10px;
    color: #000000;
    background-color: var(--colorterceario);
    border: 0px;
    font-size: 12px;
    border-radius: 5%;
    width: 50%;
    height: 50px;
    
}
#zonaReseñas{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;
    background-color: var(--colorsecundario);
    
}
#formContacto{
    margin-top: 40px;
    margin-left: 30%;
    margin-bottom: 5%;
    border: 10px solid var(--colorsecundario);
    border-radius: 5px;
    width: 40%;
    background-color: var(--colorterceario);
}
#formContacto form button{
    background-color: var(--colorsecundario);
    color: white;
    border: 2px solid var(--colorsecundario);
}
#formContacto form button:hover{
    background-color: var(--colorterceario);
    color: black;
    transition: 0.5s;
}
footer{
    background-color: var(--colorterceario);
    height: 90px;
}
.separadorNegro{
    height: 10px;
    background-color: var(--colorsecundario);
}
footer ul{
    margin-top: 40px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.datosPHfooter{
    /*display: none;*/
    margin: 0%;
}
#categoriasPH{
    margin: 0%;
    /*display: none;*/
    width: 100%;
    height: fit-content;
    justify-items: center;
    width: auto;
    height: auto;
    background-color: var(--colorsecundario);
}

#categoriasPH form{
    padding: 0%;
    margin: 0%;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#categoriasPH form h3{
    text-decoration: none;
    color: #A4C639;
}
#categoriasPH form div{
    display: flex;
    justify-content:center;
}
#categoriasPH form div input{
    text-decoration: none;
    color: #A4C639;
    width: 20%;
}
#categoriasPH form div label{
    width: 40%;
    text-decoration: none;
    color: #A4C639;
}

#reseñas {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 1%;
    overflow: visible;
    width: 100%;
    transition: transform 0.5s ease; /* Agrega una transición suave al desplazamiento */
}


#reseñas .tarjetaReseña {
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    width: 500px;
    border-radius: 10%;
    text-align: center;
    flex-shrink: 0;
    margin-right: 20px;
}

#reseñas .tarjetaReseña img {
    width: 80%;
    padding: 10%;
}



/*Media querys*/

@media (max-width: 515px){
    /*Inicio*/
    #menu div h3 a{
        margin-left: 0;
        font-size: medium;
        
    }
    #menu div h3{
        text-align: center;
        
    }
    #menu div{
        width: 100%;
    }
    .introtienda{
        margin: 0%;
        width: 100%;
        height: fit-content;
        border-radius: 0%;
        padding-top: 30px;
        padding-left: 2%;
        padding-right: 2%;
        overflow: hidden;
    }
    .panelintroTienda{
        height: auto;
        flex-direction: row;
        height: auto;
        
    }
    #introTiendabackground{
        height: auto;
    }
    #introTiendabackground .panelintroTienda .introtienda{
        margin-top: 0px;
        padding-top: 100px;
        padding-left: 2%;
        padding-right: 2%;
        height: 300px;
        margin-bottom: 0px;
    }
    /*footer*/
    footer ul{
        margin-top: 10px;
        margin-left: 20%;
        padding: 0%;
        flex-direction: column;
        justify-content: space-between;
    }
    footer{
        height: auto;
    }
    /*Tienda*/
    #mainTienda{
        display: flex;
        flex-direction: column;
    }
    #contenedorTienda{
        height: fit-content;
    }
    #tienda{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        justify-content: space-between;
        justify-items: center;
        margin-bottom: 10px;
    }
    #bloqueCarro{
        margin: 0%;
        height: fit-content;
    }
    .tarjetaProducto{
        width: 100%;
        font-size: 30px;
        height: fit-content;
    }
    .elementosCarro{
        width: 100%;
    }
    #totalCarro{
        height: 50px;
    }
    #tarjetaProducto{
        margin: 0%;
        height: fit-content;
    }
    #categoriasPC{
        display: none;
    }
    #categoriasPH{
        display: block;
    }
    #categorias ul{
        margin-top: 10px;
        margin-left: 50%;
    }
    #categorias ul li{
        margin-bottom: 5px;
    }
    .cartaAmpliada {
        position: relative;
        width: 100%;
        height: auto;
        transform: translate(-50%, 0) scale(1);
        z-index: 1;
    }
    .botonAgregarCarro{
        text-align: center;
        font-size: 22px;
        height: 80px;
    }
    .botonAmpliarCarta{
        text-align: center;
        font-size: 22px;
        height: 80px;
    }
    .botonAgregarCarro p{
        margin-bottom: 13%;
    }
    #botonesCarro{
        font-size: larger;
    }
    
    /*Contacto*/
    #formContacto{
        margin-left: 10%;
        width: 80%;
        margin-top: 48%;
        margin-bottom: 48%;
    }
    #mainContacto{
        height: 100%;
    }
    #reseñas{
        display: none;
    }
    /*footer*/
    footer ul{
        display: flex;
        margin-left: 33%;
        flex-direction:column;
        justify-content: space-between;
        justify-items: center;
    }
    footer ul li{
        width: auto;
    }
}

@media (min-width: 516px) and (max-width: 1000px){
    /*Inicio*/
    #menu div h3 a{
        margin-left: 0;
        font-size: medium;
        
    }
    #menu div h3{
        text-align: center;
        
    }
    #menu div{
        width: 100%;
    }
    .introtienda{
        margin: 0%;
        width: 100%;
        height: fit-content;
        border-radius: 0%;
        padding-top: 30px;
        padding-left: 2%;
        padding-right: 2%;
        overflow: hidden;
    }
    .panelintroTienda{
        height: auto;
        flex-direction: row;
        height: auto;
        
    }
    #introTiendabackground{
        height: auto;
    }
    #introTiendabackground .panelintroTienda .introtienda{
        margin-top: 0px;
        padding-top: 100px;
        padding-left: 2%;
        padding-right: 2%;
        height: 300px;
        margin-bottom: 0px;
    }
    /*footer*/
    footer ul{
        margin-top: 10px;
        margin-left: 20%;
        padding: 0%;
        flex-direction: column;
        justify-content: space-between;
    }
    footer{
        height: auto;
    }
    /*Tienda*/
    #mainTienda{
        display: flex;
        flex-direction: column;
    }
    #contenedorTienda{
        height: fit-content;
    }
    #tienda{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        justify-content: space-between;
        justify-items: center;
        margin-bottom: 10px;
    }
    #bloqueCarro{
        margin: 0%;
        height: fit-content;
    }
    .tarjetaProducto{
        width: 80%;
        margin-left: 10%;
        font-size: 30px;
        height: fit-content;
    }
    .elementosCarro{
        width: 100%;
    }
    #totalCarro{
        height: 50px;
    }
    #tarjetaProducto{
        margin: 0%;
        height: fit-content;
    }
    #categoriasPC{
        display: none;
    }
    #categoriasPH{
        display: block;
    }
    #categorias ul{
        margin-top: 10px;
        margin-left: 50%;
    }
    #categorias ul li{
        margin-bottom: 5px;
    }
    .cartaAmpliada {
        position: relative;
        margin-left: 0%;
        width: 100%;
        height: auto;
        transform: translate(-50%, 0) scale(1);
        z-index: 1;
    }
    .botonAgregarCarro{
        text-align: center;
        font-size: 22px;
        height: 80px;
    }
    .botonAmpliarCarta{
        text-align: center;
        font-size: 22px;
        height: 80px;
    }
    .botonAgregarCarro p{
        margin-bottom: 13%;
    }
    #botonesCarro{
        font-size: larger;
    }
    
    /*Contacto*/
    #formContacto{
        margin-left: 10%;
        width: 80%;
        margin-top: 48%;
        margin-bottom: 48%;
    }
    #mainContacto{
        height: 100%;
    }
    #reseñas{
        display: none;
    }
    /*footer*/
    footer ul{
        display: flex;
        margin-left: 0%;
        flex-direction:row;
        justify-content: space-around;
        justify-items: center;
    }
    footer ul li{
        width: auto;
    }
}